:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  text-align: left;
  background: #2b2b2b;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px 15px 10px;
}

input {
  min-width: 250px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #242424;
  color: white;
  padding: 5px;
  font-size: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  li {
    background-color: #d9d9d9;
  }

  input {
    color: #213547;
    border-color: #d9d9d9;
    background-color: #d9d9d9 !important;
  }
}
